p.text-small{
    font-size: smaller;
}
a.forget_pass_button{
    font-size: x-small;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  #customers td, #customers th {
    font-size: small;
    font-weight:normal;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }